<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

<div class="row">
    <div class="col">
        <h1 class="display-1">I<span class="punctuation">'</span>M</h1>
        <h1 class="display-1">JONATHAN</h1>
        <h1 class="display-1">LEE<span class="punctuation">.</span></h1>
        <h5 class="position">FULL STACK WEB DEVELOPER</h5>
    </div>
    <div class="col">
        <div class="about_me_box">
            <h4 class="text-center pt-3">About Me</h4>
            <p class="about_me text-center px-5 pb-4">I am a dedicated and motivated professional seeking opportunity to showcase my technical proficiency. My goal is to attain a position which will provide me an opportunity for growth and personal development, as well as an opportunity to expand my knowledge. I am eager to enter the workforce and pursue my dream!</p>
        </div>
        <div class="row mt-4">
            <div class="col"></div>
                <div>
                    <a href="~/img/Resume.pdf" download>
                        <img src="~/img/resume.png" class="icon" alt="resume icon">
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/leej63/" target="_blank">
                        <img src="~/img/linkedin.png" class="icon" alt="linkedin logo">
                    </a>
                </div>
                <div>
                    <a href="https://github.com/leej63" target="_blank">
                        <img src="~/img/github.png" class="icon" alt="github logo">
                    </a>
                </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<img class="bg" src="~/img/backdrop.jpg" alt="background">