<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

<div class="row">
    <div class="col mr-2">
        <h1 class="display-1">I<span class="punctuation">'</span>M</h1>
        <h1 class="display-1">JONATHAN</h1>
        <h1 class="display-1">LEE</h1>
        <h5 class="position">FULL STACK DEVELOPER</h5>
    </div>
    <div class="col">
        <div class="about_me_box ml-2 py-3 px-5">
            <h4 class="text-center">About Me</h4>
            <p class="about_me text-center">I am a dedicated and motivated professional seeking opportunity to showcase my technical proficiency. My goal is to attain a position which will provide me an opportunity for growth and personal development, as well as an opportunity to expand my knowledge. I am eager to enter the workforce and pursue my dream!</p>
            <div class="row mt-4">
                <div class="col"></div>
                    <div>
                        <a href="~/img/Resume.pdf" download>
                            <img src="~/img/resume.png" class="smallicon" alt="resume icon">
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/leej63" target="_blank">
                            <img src="~/img/github-512.png" class="smallicon" alt="github logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/leej63/" target="_blank">
                            <img src="~/img/linkedin.png" class="icon" alt="linkedin logo">
                        </a>
                    </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="tech_skills my-5 py-3 px-5">
        <h4 class="white_text text-center">Technical Skills</h4>
        <div class="row">
            <div class="stack_box python col m-2 pb-2">
                <div class="text-center">
                    <img src="~/img/python.png" class="stack_icon my-2" alt="python logo">
                    <p class="stack_head mb-2">PYTHON</p>
                    <p class="stack_item">Python</p>
                    <p class="stack_item">MySQL</p>
                    <p class="stack_item">Flask</p>
                    <p class="stack_item">AJAX</p>
                    <p class="stack_item">Django</p>
                </div>
            </div>
            <div class="stack_box mean col m-2 pb-2">
                <div class="text-center">
                    <img src="~/img/mean.png" class="stack_icon my-2" alt="mean logo">
                    <p class="stack_head mb-2">MEAN</p>
                    <p class="stack_item">JavaScript</p>
                    <p class="stack_item">MongoDB</p>
                    <p class="stack_item">Angular</p>
                    <p class="stack_item">Node.js</p>
                    <p class="stack_item">Express.js</p>
                </div>
            </div>
            <div class="stack_box csharp col m-2 pb-2">
                <div class="text-center">
                    <img src="~/img/netcore.png" class="stack_icon my-2" alt="C#/.NET Core logo">
                    <p class="stack_head mb-2">C#/.NET CORE</p>
                    <p class="stack_item">C#</p>
                    <p class="stack_item">Razor</p>
                    <p class="stack_item">ASP.NET Core</p>
                    <p class="stack_item">Entity Framework</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>
<img class="bg" src="~/img/backdrop.jpg" alt="background">